aniso8601
asgiref
blinker
certifi
chardet
click
cycler
Django
Flask
Flask-Mail
Flask-RESTful
Flask-SQLAlchemy
googletrans
gunicorn
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mysql-connector-python
numpy
pandas
Pillow
protobuf
PyMySQL
pyparsing
pyPdf
PyPDF2
python-dateutil
pytz
rfc3986
scikit-learn
scipy
seaborn
six
sklearn
sniffio
SQLAlchemy
sqlparse
threadpoolctl
Werkzeug
